<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-huenei-plugins-mercadopago" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HueMercadoPago</name>
    <js-module name="HueMercadoPago" src="www/HueMercadoPago.js">
        <clobbers target="cordova.plugins.HueMercadoPago" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HueMercadoPago">
                <param name="android-package" value="com.huenei.plugins.mercadopago.HueMercadoPago" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/HueMercadoPago.java" target-dir="src/com/huenei/plugins/mercadopago/HueMercadoPago" />
        <framework src="com.mercadopago.android.px:checkout:4.+" />
		<framework src="com.android.support:appcompat-v7:27.0.1" />


    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="HueMercadoPago">
                <param name="ios-package" value="HueMercadoPago" />
            </feature>
        </config-file>
        <source-file src="src/ios/HueMercadoPago.m" />
    </platform>
</plugin>